
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_Blank.cshtml";
}

<form method="post" action="@Url.Action("Login", "Dashboard")">
    <img class="mb-4" src="~/Assets/img/logo.png" alt="" width="120">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="Username" placeholder="Username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year.ToString()</p>
</form>